@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="min-height:500px;">

    <div class="text-center">

        <img src="~/img/Logo.png"
             alt="Mercadito UPH"
             style="width:300px; max-width:100%;">

        <h2 class="mt-4 fw-bold">Mercadito UPH</h2>

        <p class="text-muted">
            Sistema de Gestión de Ventas
        </p>

    </div>

</div>
